*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    transition:all 0.3s;
}

header{
    background-color: #001433;
    color:white;
    height:65px;
    display:flex;
    border-radius: 0px;
}

#menu1 i,span{
    font-size: 19px;
    padding:23px 23px;
}
#menu1 span{
    font-size:17px;
}

#menu1 i:hover, span:hover{
    background-color: #2266e3;
}

input{
    width:610px;
    text-align: left;
    border:none;
    background-color: #577cb3b9;
    padding:10px;
    color:white;
    margin-left:150px;
    font-size: 16px;
}
input::placeholder{
    color:white;
}
input:hover{
    background-color: white;
}

input:hover::placeholder{
    color:black;
}

#menu2{
    display:flex;
}

#menu2 p{
    margin-left:263px;
    background-color: rgb(221, 234, 246);
    color:rgb(64, 83, 133);
    font-size: 14px;
    font-weight: bold;
    padding:12px 10px;
    margin-top: 15px;
    height:35px;
}

#menu2 p:hover{
    background-color:rgba(208, 220, 249);

}

ul{
    list-style-type: none;
    margin-left: 15px;
}

header ul li:not(:last-child){
    padding:29px 22px;
    color:white;
    display:inline;
    position:relative;
    font-size:16px;
    top:18px;
}

header ul li:hover:not(:last-child){
    background-color: #2266e3;
}

header ul li img{
    width:62.5px;
    position: relative;
    left:242px;
    bottom:18px;
}
header ul li img:hover{
    background-color: #2266e3;
}

#contents{
    display: flex;
    flex-wrap: wrap;
}

#yanmenu{
    width:65px;
    height: 94vh;
    background-color: #f3f2f1;
    border-radius: 0px;
    text-align: center;
}

#yanmenu ul{
    margin:0;
}

#yanmenu ul li{
    width:65px;
    padding:17px 0px;
    font-size: 18px;
    color:black;
}

#yanmenu ul li:hover{
    background-color: #e8e8e8;
}

#content img {
width:1960px;
border-radius: 0px; 
}

#kutular{
width:1960px;
display: flex;
flex-wrap: wrap;
}
