*{
    box-sizing: border-box;
}

html,body{
    margin:0;
    padding:0;
    background-color: #FFF1B8;
}

#flag{
    text-align: right;
}
#flag img{
    width:30px;
    margin-top:10px;
    margin-right: 3px;
}

#baslik{
    text-align: center;
}

#baslik img{
    width:1100px;
}

#content{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.green{
    color:#2a6603;
}

.bold{
    font-weight: bold;
}

p{
    text-align: center;
}

#info p{
    line-height: 0.7 ;
    font-size: 18px;
}

.box{
    width:40%;
    background: linear-gradient(to bottom,#ffea97,#fff1b8);
    border-radius: 5px;
    padding:20px;
}

ul{
    padding:0;
    margin:0;
}

ul li{
    list-style-type: none;
    padding:10px;
    margin-bottom: 3px;
    width:100%;
    font-weight: bold;
    text-align: left;
    background: #ffde5a;
    border-radius: 5px;
}
ul li:hover{
    background: linear-gradient(to bottom,#ffaa41, #ffde5a);

}

.link{
    color:black;
    text-decoration: none;
}

.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:200px;
    text-align: center;
    border-radius: 20px;
    padding:15px;
}

.width{
    display:flex;
    justify-content: center;
    width:100%;

}
.yanyana{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap:20px;
}

#telekom{
    width:250px;
    position:absolute;
    right:5px;
    bottom:40px;
}

#bos{
    background-color: black;
    width:100%;
    padding:10px;
    position:absolute;
    bottom:0px;
}

.düz{
    margin:0;
    text-align: left;
    font-size: 14px;
}

.yüzdekırkbeş{
    width:45;
    text-align: center;
}